<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
 
 {{>navbar}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A
                            <span class="txt-clr">Mern Stack Developer</span>
                             Youtuber and a freelancer.
                        </h1>
                        <a href="/weather"><button class="btn btn-outline-info">About Me</button></a>
                    </div>

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right">
                           <figure>
                            <img src="Images/about1.jpg" alt="abhi" class="img-fluid" title="abhi bansal">
                           </figure>             
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- footer section -->
{{>footer}}
</body>

</html>